<%- include("header") -%>


<h2>This is the about page</h2>
<p>lots and lots of text lots and lots of text lots and lots of text lots and lots of text lots and lots of text lots and lots of text lots and lots of text lots and lots of text lots and lots of text lots and lots of text lots and lots of text lots and lots of text lots and lots of text </p>



<%- include("footer") -%>